<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlipalooWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlipalooWeb.styles.css" asp-append-version="true" />
    
</head>
<body>
    
    <header class="top-head">       
        
        <a class="web-name-link" asp-area="" asp-controller="Home" asp-action="Index">
            
            <div class="logo-container">
                <img class="logo" src="~/logo.jpg" alt="logo"/>
            </div>
        </a>
        
        <a class="aboutUs-link" asp-area="" asp-controller="Home" asp-action="AboutUs">
            <div class="aboutUs">
                ?
            </div>
        </a>
    </header>

    <div class="main-container">
       
        @RenderBody()
        <div class="foot">
            &copy; 2023 - Flipaloo
            @* - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a> *@
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
