@{
    ViewData["Title"] = "Kdo jsme?";
}

<link rel="stylesheet" href="~/css/aboutUs.css" />
<link rel="stylesheet" href="~/css/site.css" />


<div class="aboutUs-main">
    <h1>@ViewData["Title"]</h1>
    
    <p></p>
    <p>Flipaloo.com je revoluční stránka, která využívá web scrapingu k seškrabávání dat
        ze sázkových kanceláří s cílem identifikovat arbitrážní sázky. Naše servery sledujou
        kurzové nabídky napříč různými sázkovými společnostmi a v reálném čase vám přináší
        příležitosti k výdělku prostřednictvím arbitráží. Flipaloo.com vám umožňuje efektivně identifikovat
        rozdíly v kurzech a využívat je k maximalizaci vašich zisků. Více informací jak provádět arbitážní sázení je
        <a href="https://www.youtube.com/watch?v=2kDTwP6SBx4">zde</a> nebo
        <a href="https://www.sazkove-kancelare.com/strategie-sazeni/sure-betting/">zde</a></p>
</div>
